.header_main{
	padding: 15px;
	display: flex;
	justify-content: space-between;
	background-color: black;
}

.header_main .header_logo img {
	width: 100px;
}

.header_main .header_list {
	display: flex;
	justify-content: space-evenly;
}

.header_list .item_nav {
	list-style: none;
	margin: 15px;
}

.header_list .item_nav .item_link {
	color: white;
	text-decoration: none;
}